#rental-assistance-finder .m-notification .cf-icon-svg {
  font-size: 1.125em;
}
#rental-assistance-finder .cf-icon-svg {
    height: 1.1875em;
    vertical-align: text-top;
    max-width: 1em;
}
#rental-assistance-finder .App {
  max-width: 41.875rem;
}
#rental-assistance-finder .App dl a {
  word-break: break-all;
}

#rental-assistance-finder .m-form-field + .m-form-field {
  margin-top: 15px;
}

#rental-assistance-finder .result-item dd.status-accepting,
#rental-assistance-finder .result-item dd.status-rolling {
  background-color: #e2efd8;  
}

#rental-assistance-finder .result-item dd.status-waitlist {
  background-color: #fff0dd;  
}
